* {
    margin: 0;
    padding: 0;
}

.node {
    outline: 1px solid #000;
    position: absolute;
}

#main {
    position: relative;
}

#root {
    width: 100px;
    height: 50px;
    background: #0cc;
}

#n001 {
    width: 150px;
    height: 70px;
}

#n002 {
    width: 200px;
    height: 80px;
}

#n003{
    width: 50px;
    height: 20px;
}

#n0011, #n0012 {
    width: 100px;
    height: 30px;
}

#submit {
    position: absolute;
    top: 20px;
    right: 20px;
}

#rootRuleArea {
    z-index: -1;
}