* {
    margin: 0;
    padding: 0;
}

.node {
    outline: 1px solid #000;
    position: absolute;
}

#main {
    position: relative;
}

#root {
    background: #0cc;
}

.buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
}

.buttons>button {
    display: block;
    margin: 10px;
}

#rootRuleArea {
    z-index: -1;
}